@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

body,
button {
    font-family: "Inter", sans-serif;
    background-color: rgb(219, 219, 219);
    color:black;
}

body.dark-theme{
    background-color: #2f373f;
    color: rgba(255, 255, 255, 0.87);
}

:root {
    --offcanvas-width: 270px;
    --topNavBarHeight: 56px;
}

h6#non-clickable {
    pointer-events: none;
    cursor: default;
  }

#offcanvasExample {
    width: var(--offcanvas-width);
}

.sidebar-link {
    display: flex;
    align-items: center;
}

.right-icon {
    display: inline-flex;
    transition: all ease 0.25;
}

.sidebar-link[aria-expanded="true"] .right-icon {
    transform: rotate(180deg);
}

.form-control{
    border: 1px solid #b3a1a1 !important;
    padding: 8px-10px;
}
.form-select{
    border: 1px solid #b3a1a1 !important;
    padding: 8px-10px;
}

@media (min-width: 992px) {
    body {
        overflow: auto !important;
    }

    main {
        margin-left: var(--offcanvas-width)
    }

    .offcanvas-backdrop {
        display: none;
    }

    #offcanvasExample {
        transform: none;
        visibility: visible !important;
        top: var(--topNavBarHeight);
        height: calc(100% - var(--topNavBarHeight));
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px; /* Added for rounded corners */
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%; /* Added for rounded circle */
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }